<%= render "/common/top_bar" %>

<script type="text/javascript">
   window.mainPageTitle = 'Index';

  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: window.mainPageTitle,
      icon: 'https://embedded-app-example.herokuapp.com/icon.png',
      buttons: {
        primary: {
          label: "Save Tabs",
          message: 'save-tabs-form-message'
        },
        secondary: {
          label: "Cancel",
          href: "/",
          target: 'app' 
        }
      }
    });

  <% if flash[:notice] %>
    ShopifyApp.flashNotice("<%= flash[:notice] %>");
  <% end %>

  <% if flash[:error] %>
    ShopifyApp.flashError("<%= flash[:error] %>");
  <% end %>

  });
</script>

<h2>Product Description Tabs</h2>

<p>This application allows you to create tabbed descriptions and dispay them instead of standard descriptions.</p>

<form method="POST" action="form_page" data-shopify-app-submit="save-tabs-form-message">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
  <h2>Product: </h2>
 <input type="checkbox" name="tab_show" value="true"> Enable Tabs for this product?<br>
  
  <div id="responsiveTabsDemo">
      <ul>
          <li><a href="#tab-1">Tab 1</a></li>
          <li><a href="#tab-2">Tab 2</a></li>
          <li><a href="#tab-3">Tab 3</a></li>
		  <li><a href="#tab-4">Tab 4</a></li>
		  <li><a href="#tab-5">Tab 5</a></li>
      </ul>

      <div id="tab-1"> 
		  <label>Title 1:</label>
		  <input type="text" name="tab_title_1" value="Summary"/> 
	  	  <div>
			  <textarea name="tab_title_1"></textarea>
			  </div>
	  </div>
      <div id="tab-2"> 
		  <label>Title 2:</label>
		  <input type="text" name="tab_title_2" value="Details"/> 
	  	  <div>
			  <textarea name="tab_title_1"></textarea>
			  </div>
	  </div>
      <div id="tab-3"> 
		  <label>Title 3:</label>
		  <input type="text" name="tab_title_3" value="Specs"/> 
	  	  <div>
			  <textarea name="tab_title_3"></textarea>
			  </div>
	  </div>
      <div id="tab-4"> 
		  <label>Title 4:</label>
		  <input type="text" name="tab_title_4" value="Notes"/> 
	  	  <div>
			  <textarea name="tab_title_4"></textarea>
			  </div>
	  </div>
      <div id="tab-5"> 
		  <label>Title 5:</label>
		  <input type="text" name="tab_title_5" value="Special"/> 
	  	  <div>
			  <textarea name="tab_title_5"></textarea>
		  </div>
	  </div>
  </div>

<input type="hidden" name="product_id" value="product_id">
<input type="hidden" name="product_handle" value="product_handle">

</form>


<p><a href="regular_app_page">Links to another page</a> work normally.</p>

<h2>Function calls</h2>
<ul>
  <li><a href="#" onclick="ShopifyApp.Bar.loadingOff()">Turn spinner off</a></li>
  <li><a href="#" onclick="ShopifyApp.Bar.loadingOn()">Turn spinner on</a></li>
  <li><a href="#" onclick="window.mainPageTitle = window.mainPageTitle + '!'; ShopifyApp.Bar.setTitle(window.mainPageTitle)">Add an exclamation mark to the title</a></li>
  <li><a href="#" onclick="ShopifyApp.redirect('/orders')">Redirect to /orders within the Shopify Admin</a></li>

  <li><a href="#" onclick="ShopifyApp.flashNotice('Flash a notice message.');">Flash notice</a></li>
  <li><a href="#" onclick="ShopifyApp.flashError('Flash an error message.');">Flash error</a></li>
  <li><a href="#" onclick="ShopifyApp.Bar.setPagination({previous: {loading: false, callback: function(){alert('Previous clicked'); } }}); return false">Add pagination buttons</a></li>
</ul>


<!-- 
  This is example code, focusing on simplicity.
  Try not to use 'onclick' attributes in real applications. Use unobtrusive JavaScript instead.
  http://en.wikipedia.org/wiki/Unobtrusive_JavaScript)

  See modals.js for the implementation of these calls.
-->

<h2>Modal Windows</h2>
<ul>
  <li><a href="#" onclick="alertModal()">Alert modal</a></li>
  <li><a href="#" onclick="confirmModal()">Confirm modal</a></li>
  <li><a href="#" onclick="inputModal('Enter a value:')">Prompt modal</a></li>
  <li><a href="#" onclick="newModal('<%= modal_url %>','This is a custom modal title')">Modal window containing an iframe</a></li>
  <li><a href="#" onclick="newButtonModal('<%= modal_buttons_url %>','This modal has many buttons')">Modal window with a variety of buttons</a></li>
</ul>

<h2>Integrations</h2>
<ul>
  <li><a href="form_page">Go to form page</a></li>
  <li><a href="pagination">Pagination links</a></li>
  <li><a href="breadcrumbs">Breadcrumbs</a></li>
  <li><a href="buttons">Buttons</a></li>
</ul>

<h2>Error pages</h2>
<ul>
  <li><a href="/does_not_exist">Error 404</a></li>
  <li><a href="/error">Error 500</a></li>
</ul>
